{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Questions" %}
{% endblock %}

{% block header %}
<div class='second title'>
    {% trans "Questions" %}
</div>
{% endblock %}

{% block body %}
{% if user.is_authenticated %}
<a href='/ask/' class='important_button' title='{% trans "Ask" %}'>
	{% trans "Ask" %}
</a>
{% endif %}
<div class='container'>
	{% for question in questions %}
	<div class='item'>
		<div class='rating number'>
			<div class='item-count'>{{question.rating}}</div>
			<div class='subtext'>{% trans "rating" %}</div>
		</div>
		<div class='answer number'>
			<div class='item-count'>{{question.answer_count}}</div>
			<div class='subtext'>{% trans "answers" %}</div>
		</div>
		<div class='view number'>
			<div class='item-count'>{{question.view_count}}</div>
			<div class='subtext'>{% trans "views" %}</div>
		</div>
		<a href='/question/{{question.id}}'>{{question.title}}</a>
		<div class='subtext sender'>
			{{question.sender.get_full_name}} ({{question.sender}})
			<img class='ava_small' src='/media/{{question.sender.avatar}}'/>
		</div>
	</div>
	{% endfor %}
</div>

Total: {{total_pages}}
<br/>
Current: {{current_page}}
{% endblock %}