{% extends "base.html" %}
{% load i18n %}

{% block title %}
{{type}} {% trans "question" %}
{% endblock %}

{% block header %}
<form id='question_form' method='POST'>
	{% csrf_token %}
	<div class='second title'>
	    {% trans "Title" %}:
	    {{form.title}}
	    <a class='important_button' onclick="document.getElementById('question_form').submit()">{{type}}</a>
	</div>
{% endblock %}

{% block body %}
	<!-- Не нравится мне такой вывод формы... -->
	{{form.errors}}
	<p>{{form.body}}</p>
	<p>
		<label for="id_tags">{% trans "Tags" %}</label>
		{{form.tags}}
	</p>
	{{form.sender}}
</form>
<p>
	<label for="id_tags">{% trans "Add tag" %}</label>
	<input id='new_tag'/>
	<a href='add_tag'><img src='/media/add_tag.gif'/></a>
</p>
{% endblock %}