{% extends "base.html" %}
{% load i18n %}

{% block title %}
{{type}} {% trans "question" %}
{% endblock %}

{% block header %}
<script>
	function add_tag (answer, change){
		$.ajax('/addtag/' + document.getElementById('new_tag').value + '/').done(
			function (data){
				if ( data != '' ){
					var objSel = document.getElementById('id_tags');
					objSel.options[objSel.options.length] = new Option(
						document.getElementById('new_tag').value,
						data,
						0,
						1
						);
					document.getElementById('new_tag').value = '';
				}
			});
	}
</script>

<form id='question_form' method='POST'>
	{% csrf_token %}
	<div class='second title'>
	    {% trans "Title" %}:
	    {{form.title}}
	    <a class='important_button' onclick="document.getElementById('question_form').submit()">{{type}}</a>
	</div>
{% endblock %}

{% block body %}
	<!-- Не нравится мне такой вывод формы... -->
	{{form.errors}}
	<p>{{form.body}}</p>
	<p>
		<label for="id_tags">{% trans "Tags" %}</label>
		{{form.tags}}
	</p>
	{{form.sender}}
</form>
<p>
	<input id='new_tag' maxlength='10'/>
	<img src='/media/add_tag.gif' onclick='add_tag()'/>
</p>
{% endblock %}