{% extends "base.html" %}
{% load i18n %}

{% block title %}
{{question.title}}
{% endblock %}

{% block header %}
<script>
	function vote(change){
		$.ajax("/question/{{question.id}}/vote/" + change + "/").done(
			function (data){
				document.getElementById('question_rating').innerHTML = data;
			});
	}

	function addClickHandlers() {
		$("#vote_up").click( function() { vote("up") });
		$("#vote_down").click( function() { vote("down") });
	}
	$(document).ready(addClickHandlers);
</script>
<div class='second title'>
    {{question.title}}
</div>
{% endblock %}

{% block body %}
{% if question.sender.username == user.username %}
<div class='buttons'>
	<a href='/edit/{{question.id}}' class='button' title='{% trans "Edit question" %}'>
		<img src='/media/edit.png'/>
	</a>
	<br/>
	<a href='/delete/{{question.id}}' class='button' title='{% trans "Delete question" %}'>
		<img src='/media/delete.png'/>
	</a>
</div>
{% endif %}
<div class='change'>
    <div><img id='vote_up' src='/media/vote_up.jpg'/></div>
    <div id='question_rating'>{{question.rating}}</div>
    <div><img id='vote_down' src='/media/vote_down.jpg'/></div>
</div>
<div class='container'>
	<pre width='auto'>{{question.body}}</pre>
</div>
{% for answer in answers %}
<div class='item'>
	<pre width='auto'>{{answer.body}}</pre>
	{{answer.rating}}
</div>
{% endfor %}
{% if user.is_authenticated %}
<div class='container form'>
	<form action='/answer/' method='POST' id='answer_form'>
		{% csrf_token %}
		{{form.as_p}}
		<a class='important_button' onclick="document.getElementById('answer_form').submit()">{% trans "Answer" %}</a>
	</form>
</div>
{% endif %}
{% endblock %}