{% extends "base.html" %}
{% load i18n %}

{% block title %}
{{question.title}}
{% endblock %}

{% block header %}
<script>
	// Прикольно, можно еще короче и понятнее
	function vote_question (change){
		$.ajax("/vote/question/{{question.id}}/" + change + "/").done(
			function (data){
				document.getElementById('question_rating').innerHTML = data;
			});
	}

	function vote_answer (answer, change){
		$.ajax('/vote/answer/' + answer + '/' + change + '/').done(
			function (data){
				document.getElementById('answer_rating_' + answer).innerHTML = data;
			});
	}

	function add_answer (){
		$.ajax({
			type:'POST',
			url:'/answer/',
			data:$('#answer_form').serialize(),
			success:function (data){ 
				document.getElementById('answers').innerHTML += data;
				document.getElementById('id_answer_body').value = '';
			}
		});
	}
</script>

<div class='second title'>
    {{question.title}}
</div>
{% endblock %}

{% block body %}
{% if question.sender.username == user.username %}
<div class='buttons'>
	<a href='/edit/{{question.id}}' class='button' title='{% trans "Edit question" %}'>
		<img src='/media/edit.png'/>
	</a>
	<br/>
	<a href='/delete/{{question.id}}' class='button' title='{% trans "Delete question" %}'>
		<img src='/media/delete.png'/>
	</a>
</div>
{% endif %}
{% if user.is_authenticated %}
<div class='question_rating'>
    <div class='question_rating_button'><img id='vote_up' onclick='vote_question("up")' src='/media/vote_up.jpg'/></div>
    <div id='question_rating'>{{question.rating}}</div>
    <div class='question_rating_button'><img id='vote_down' onclick='vote_question("down")' src='/media/vote_down.jpg'/></div>
</div>
{% endif %}
<div class='container'>
	<pre width='auto'>{{question.body}}</pre>
	<div class='tags'>
		{% for tag in question.tags.all %}
		<div class='tag'>{{tag.title}}</div>
		{% endfor %}
	</div>
</div>
<div id='answers'>
	{% for answer in answers %}
	<div class='item'>
		{% if user.is_authenticated %}
		<div class='subtext answer_rating'>
			<a class='answer_rating_button' onclick='vote_answer("{{answer.id}}", "down")'>-</a>
			<div class='answer_rating' id='answer_rating_{{answer.id}}'>{{answer.rating}}</div>
			<a class='answer_rating_button' onclick='vote_answer("{{answer.id}}", "up")'>+</a>
		</div>
		{% else %}
		<div class='subtext answer_rating'>
			<div class='answer_rating' id='answer_rating_{{answer.id}}'>{% trans "Rating" %}: {{answer.rating}}</div>
		</div>
		{% endif %}
		<div class='subtext sender'>
			{{answer.sender}}
			{% if answer.sender.get_full_name %}
			({{answer.sender.get_full_name}})
			{% endif %}
		</div>
		<pre width='auto'>{{answer.answer_body}}</pre>
	</div>
	{% endfor %}
</div>
{% if user.is_authenticated %}
<div class='container form'>
	<form action='/answer/' method='POST' id='answer_form'>
		{% csrf_token %}
		{{form.as_p}}
		<a class='important_button' onclick="add_answer()">{% trans "Answer" %}</a>
	</form>
</div>
{% endif %}
{% endblock %}